//---------------------------------Salas-------------------------------//
.h2Salas {
    text-align: center;
    margin-top: 50px;
  }
  .card {
    background-color: $bg-color;
    padding: 5px;
  }
  .bloqueCards {
    margin: 0;
    margin-top: 50px;
    justify-content: center;
  }