body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  color: tan;
  width: 100%;
}
h4 {
  color: tan;
  width: 100%;
}
.colBody {
  flex: 1;
}
/*--------------------------------------------------------------------*/
/*-----------------------Caracteristicas del jider--------------------*/
header {
  width: 100%;
  height: 60px;
  background-color: tan;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
header p {
  size: 15px;
  padding-left: 10px;
}
/*---------------------------------------------------------------------*/
/*--------------------------Barra de navegacion------------------------*/
nav {
  justify-self: right;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  padding: 10px;
}
nav ul li:hover {
  background-color: rgb(184, 149, 104);
}
a {
  color: inherit;
  text-decoration: none;
}
/*-------------------------------------------------------------------*/
/*------------------Texto y backgroud de presentacion----------------*/
.main {
  width: 100%;
  height: 400px;
  background-image: url(../img/fondo-inicio2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.maintext {
  margin-bottom: 50px;
  color: tan;
  text-align: center;
  background-color: rgba(0, 0, 0, 75%);
}
/*--------------------------------------------------------------------*/
/*----------------------------Acomodo del layaout---------------------*/
.twoSections {
  background-color: #e4e2de;
  display: grid;
  grid-template-columns: auto auto 25%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "leftUp leftUp right"
    "leftDown leftDown right";
}
/*--------------------------left del layout del home-------------------*/
/****up del left****/
.leftUp {
  grid-area: leftUp;
}
.intro {
  text-align: center;
  margin: 5% 10% 5% 10%;
}
/****down del left****/
.leftDown{
  grid-area: leftDown;
  display: grid;
  grid-template-areas: "blogHome salasHome";
}
.blogHome {
  grid-area: blogHome;
  justify-self: center;
}
.salasHome {
  grid-area: salasHome;
  justify-self: center;

}
/*--------------------------------------------------------------------*/
/*--------------------Imagenes del inicio(right del home)-------------*/
.right {
  border-left: 3px solid tan;
  grid-area: right;
  align-self: center;
  padding: 20px;
}
.cards {
  width: 75px;
  height: auto;
  margin: 10px;
  border: 5px solid black;
  opacity: 0.8;
  align-items: center;
}
.cards:hover {
  opacity: 1;
  background: black;
}
/*----------------------------------------------------------------------*/
/*-------------------------------pie de pagina----------------------------*/
footer {
  background-color: tan;
  width: 100%;
  height: 60px;
  font-size: small;
}
/*--------------------------------------------------------------------*/
/*---------------------------*Nosotros---------------------------------*/
.blockNosotros {
  display: flex;
  flex-wrap: wrap;
  margin: 3% 5%;
}
.blockNosotros p {
  width: 70%;
}
.images {
  width: 250px;
  height: auto;
  margin: 15px;
  border: 1px solid black;
  padding: 3px;
}
/*---------------------------------------------------------------------*/
/*---------------------------------Salas-------------------------------*/
.salas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  gap: 20px;
  margin: 5%;
}
.h2Salas{
  text-align: center;
}
.contSala{
  border: 1px solid black;
  padding: 5px;
}
.imgSala1{
  width: 100%;
  height: 400px;
  background-image: url(../img/salas/sala1/sala1.jpg);
  background-size: cover;
  border: 1px solid black;
}
.imgSala2{
  width: 100%;
  height: 400px;
  background-image: url(../img/salas/sala2/sala2-1.jpg);
  background-size: cover;
  background-position:bottom;
  border: 1px solid black;
}
.imgSala3{
  width: 100%;
  height: 400px;
  background-image: url(../img/salas/sala4/sala42.jpg);
  background-size: cover;
  border: 1px solid black;
}
.imgSala4{
  width: 100%;
  height: 400px;
  background-image: url(../img/salas/sala4/sala41.jpg);
  background-size: cover;
  border: 1px solid black;
}