body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  color: tan;
  width: 100%;
}
h4 {
  color: tan;
  width: 100%;
}
.colBody {
  flex: 1;
}
/*--------------------------------------------------------------------*/
/*-----------------------Caracteristicas del jider--------------------*/
header {
  width: 100%;
  height: auto;
  background-color: tan;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
header p {
  size: 15px;
  padding-left: 10px;
}

/*---------------------------------------------------------------------*/
/*--------------------------Barra de navegacion------------------------*/
nav{
}
nav ul {
  list-style-type: none;
  display: flex;
}
a {
  color: inherit;
  text-decoration: none;
}
nav ul li a {
  padding: 10px;
  
}
nav ul li a:hover {
  background-image: radial-gradient(rgb(184, 149, 104), tan 85%);
  cursor: pointer;

}
/*-------------------------------------------------------------------*/
/*------------------Texto y backgroud de presentacion----------------*/
.main {
  width: 100%;
  height: 400px;
  background-image: url(../img/fondo-inicio2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.maintext {
  margin-bottom: 50px;
  color: tan;
  text-align: center;
  background-color: rgba(0, 0, 0, 75%);
}
/*--------------------------------------------------------------------*/
/*----------------------------Acomodo del layaout---------------------*/
.twoSections {
  background-color: #e4e2de;
  display: grid;
  grid-template-columns: auto auto 25%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "leftUp leftUp right"
    "leftDown leftDown right";
}
/*--------------------------left del layout del home-------------------*/
/****up del left****/
.leftUp {
  grid-area: leftUp;
}
.intro {
  text-align: center;
  margin: 5% 10% 5% 10%;
}
/****down del left****/
.leftDown {
  grid-area: leftDown;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "blogHome salasHome";
}
.blogHome {
  grid-area: blogHome;
  text-align: center;
}
.salasHome {
  grid-area: salasHome;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.salasHome a div {
  height: 100px;
  width: 100px;
  margin: 5px;
  border: 1px solid black;
}
.salasHome a div:hover{
  transform: scale(1.1);
}
/*--------------------------------------------------------------------*/
/*--------------------Imagenes del inicio(right del home)-------------*/
.right {
  border-left: 3px solid tan;
  grid-area: right;
  align-self: center;
  padding: 20px;
  text-align: center;
}
.cards {
  width: 75px;
  height: auto;
  margin: 10px;
  border: 2px solid black;
  opacity: 0.8;
  align-items: center;
}
.cards:hover {
  opacity: 1;
  transform: scale(1.2);
}
/*----------------------------------------------------------------------*/
/*-------------------------------pie de pagina----------------------------*/
footer {
  background-color: tan;
  width: 100%;
  height: 60px;
  font-size: small;
}
/*--------------------------------------------------------------------*/
/*---------------------------*Nosotros---------------------------------*/
.blockNosotros {
  margin: 3% 5%;
}
.blockNosotros p {
}
.images {
  width: 15%;
  height: auto;
  margin: 15px;
  border: 1px solid black;
  padding: 3px;
}
.fundador {
  float: right;
}
.discos {
  float: left;
}
/*---------------------------------------------------------------------*/
/*---------------------------------Salas-------------------------------*/
.salas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  gap: 20px;
  margin: 5%;
}
.h2Salas {
  text-align: center;
}
.contSala {
  border: 1px solid black;
  padding: 5px;
}
.contSala div{
  width: 100%;
  height: 400px;
}
.imgSala1 {
  background-image: url(../img/salas/sala1/sala1.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid black;
}
.imgSala2 {
  background-image: url(../img/salas/sala2/sala2-1.jpg);
  background-size: cover;
  background-position: center;
  background-position: bottom;
  border: 1px solid black;
}
.imgSala3 {
  background-image: url(../img/salas/sala4/sala42.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid black;
}
.imgSala4 {
  background-image: url(../img/salas/sala4/sala41.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid black;
}
/*------------------------------------------------------------------------*/

/**************************************************************************/
/**********************@media queries**************************************/
@media only screen and (max-width: 1480px){
  .twoSections{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "leftUp"
    "leftDown"
    "right";
  }
}
@media only screen and (max-width: 1200px){
  .twoSections{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "leftUp"
    "leftDown"
    "right";
  }
}
@media only screen and (max-width: 1035px) {
  .leftDown{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "blogHome"
    "salasHome";
  }
  .salas {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    text-align: center;
    gap: 20px;
    margin: 5%;
  }
}
@media only screen and (max-width: 730px){
  .headerNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}
@media only screen and (max-width: 640px){
  
}